openapi: 3.1.0
info:
  title: CamundaWorkflowAPI
  description: API documentation for Camunda workflow services
  contact:
    name: Integration Team
    email: moaaz.taha@qeema.net
  version: 1.0.0
servers:
 -
  url: https://devcamunda-upsource.apps.qeema.io
  description: Generated server url
security:
 -
  default: []
paths:
  /api/v1/process-instances/{processInstanceId}/suspended:
    put:
      tags:
       - Process Instances
      summary: Activate or suspend a running process instance
      operationId: activateSuspendProcessInstance
      parameters:
       -
        name: X-Correlation-ID
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
       -
        name: processInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: boolean
        required: true
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          description: default response
      security:
       -
        default:
         - camunda:access
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
         - oauth2
        optional: false
  /api/v1/tasks/{taskId}/delegate:
    post:
      tags:
       - Tasks
      summary: Delegate a task to another assignee
      operationId: delegateTask
      parameters:
       -
        name: X-Correlation-ID
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
       -
        name: taskId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
       -
        name: assignee
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          description: default response
      security:
       -
        default:
         - camunda:access
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
         - oauth2
        optional: false
  /api/v1/tasks/{taskId}/complete:
    post:
      tags:
       - Tasks
      summary: Complete a task
      operationId: completeTask
      parameters:
       -
        name: X-Correlation-ID
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
       -
        name: taskId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
        required: true
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          description: default response
      security:
       -
        default:
         - camunda:access
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
         - oauth2
        optional: false
  /api/v1/process-instances:
    get:
      tags:
       - Process Instances
      summary: Get process instances by process definition key
      operationId: getProcessInstances
      parameters:
       -
        name: X-Correlation-ID
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
       -
        name: processDefinitionKey
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
       -
        name: businessKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          description: default response
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/HistoricProcessInstanceDto"
      security:
       -
        default:
         - camunda:access
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
         - oauth2
        optional: false
    post:
      tags:
       - Process Instances
      summary: Start a new process instance
      operationId: startProcessInstance
      parameters:
       -
        name: X-Correlation-ID
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
       -
        name: processDefinitionKey
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
        required: true
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          description: default response
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProcessInstanceDto"
      security:
       -
        default:
         - camunda:access
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
         - oauth2
        optional: false
  /api/v1/process-instances/{processInstanceId}/move:
    post:
      tags:
       - Process Instances
      summary: Move a running process instance from one activity to another
      operationId: moveProcessInstance
      parameters:
       -
        name: X-Correlation-ID
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
       -
        name: processInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
       -
        name: toActivityId
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          description: default response
      security:
       -
        default:
         - camunda:access
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
         - oauth2
        optional: false
  /api/v1/assignments:
    get:
      tags:
       - Assignments
      summary: Get available assignee lists and their user task names
      operationId: getAssigneeLists
      parameters:
       -
        name: X-Correlation-ID
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
       -
        name: processDefinitionKey
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          description: default response
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AssigneeListDto"
      security:
       -
        default:
         - camunda:access
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
         - oauth2
        optional: false
    post:
      tags:
       - Assignments
      summary: Add an assignee to an assignee list
      operationId: addAssignee
      parameters:
       -
        name: X-Correlation-ID
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignmentRequestDto"
        required: true
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          description: default response
      security:
       -
        default:
         - camunda:access
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
         - oauth2
        optional: false
    delete:
      tags:
       - Assignments
      summary: Remove an assignee from an assignee list
      operationId: removeAssignee
      parameters:
       -
        name: X-Correlation-ID
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignmentRequestDto"
        required: true
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          description: default response
      security:
       -
        default:
         - camunda:access
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
         - oauth2
        optional: false
  /api/v1/tasks:
    get:
      tags:
       - Tasks
      summary: Get tasks
      operationId: getTasks
      parameters:
       -
        name: X-Correlation-ID
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
       -
        name: params
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: "#/components/schemas/TaskQueryParams"
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          description: default response
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TaskDto"
      security:
       -
        default:
         - camunda:access
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
         - oauth2
        optional: false
  /api/v1/process-instances/{processInstanceId}:
    get:
      tags:
       - Process Instances
      summary: Get process instance details (process steps and variables)
      operationId: getProcessInstanceDetails
      parameters:
       -
        name: X-Correlation-ID
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
       -
        name: processInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          description: default response
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProcessInstanceDetailsDto"
      security:
       -
        default:
         - camunda:access
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
         - oauth2
        optional: false
    delete:
      tags:
       - Process Instances
      summary: Cancel a running process instance
      operationId: cancelProcessInstance
      parameters:
       -
        name: X-Correlation-ID
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
       -
        name: processInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          description: default response
      security:
       -
        default:
         - camunda:access
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
         - oauth2
        optional: false
  /api/v1/inputs/{processDefinitionKey}:
    get:
      tags:
       - User Inputs
      summary: Get input fields for starting a process
      operationId: getStartingProcessInput
      parameters:
       -
        name: X-Correlation-ID
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
       -
        name: processDefinitionKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/InputDto"
      security:
       -
        default:
         - camunda:access
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
         - oauth2
        optional: false
  /api/v1/inputs/{processDefinitionKey}/{taskDefinitionKey}:
    get:
      tags:
       - User Inputs
      summary: Get input fields for a specific user task
      operationId: getUserTaskInput
      parameters:
       -
        name: X-Correlation-ID
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
       -
        name: processDefinitionKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
       -
        name: taskDefinitionKey
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        default:
          description: default response
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/InputDto"
      security:
       -
        default:
         - camunda:access
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
         - oauth2
        optional: false
components:
  schemas:
    ProcessInstanceDto:
      type: object
      description: "Represents a running process instance with links, IDs, flags for ended/suspended, business key and tenant information."
      properties:
        links:
          type: array
          items:
            $ref: "#/components/schemas/ProcessInstanceDto.Link"
        id:
          type: string
        definitionId:
          type: string
        businessKey:
          type: string
        caseInstanceId:
          type: string
        ended:
          type: boolean
        suspended:
          type: boolean
        tenantId:
          type: string
        definitionKey:
          type: string
    ProcessInstanceDto.Link:
      type: object
      description: "Hypermedia link for a process instance containing method, href and relation."
      properties:
        method:
          type: string
        href:
          type: string
        rel:
          type: string
    AssignmentRequestDto:
      type: object
      description: Payload for assigning an assignee to a task or process using a process definition key and assignee list key.
      properties:
        processDefinitionKey:
          type: string
        assigneeListKey:
          type: string
        assignee:
          type: string
    TaskQueryParams:
      type: object
      description: "Query parameters for filtering, sorting and paginating task search results (dates, assignee, process keys, paging)."
      properties:
        processDefinitionKey:
          type: string
        processInstanceId:
          type: string
        assignee:
          type: string
        dueDate:
          type: string
        dueAfter:
          type: string
        dueBefore:
          type: string
        createdOn:
          type: string
        createdAfter:
          type: string
        createdBefore:
          type: string
        sortBy:
          type: string
        sortOrder:
          type: string
        firstResult:
          type: integer
          format: int32
        maxResults:
          type: integer
          format: int32
    TaskDto:
      type: object
      description: "Represents a user task with details like assignee, dates, priority, form reference, state and related process identifiers."
      properties:
        id:
          type: string
        name:
          type: string
        assignee:
          type: string
        created:
          type: string
          format: date-time
        due:
          type: string
          format: date-time
        followUp:
          type: string
          format: date-time
        lastUpdated:
          type: string
          format: date-time
        delegationState:
          type: string
        description:
          type: string
        executionId:
          type: string
        owner:
          type: string
        parentTaskId:
          type: string
        priority:
          type: integer
          format: int32
        processDefinitionId:
          type: string
        processInstanceId:
          type: string
        taskDefinitionKey:
          type: string
        caseExecutionId:
          type: string
        caseInstanceId:
          type: string
        caseDefinitionId:
          type: string
        suspended:
          type: boolean
        formKey:
          type: string
        camundaFormRef:
          $ref: "#/components/schemas/TaskDto.CamundaFormRef"
        tenantId:
          type: string
        taskState:
          type: string
    TaskDto.CamundaFormRef:
      type: object
      description: "Reference to a Camunda form for a task containing key, binding and optional version."
      properties:
        key:
          type: string
        binding:
          type: string
        version:
          type: integer
          format: int32
    HistoricProcessInstanceDto:
      type: object
      description: "Contains historical data for a process instance including definition info, timing, duration, user and state metadata."
      properties:
        id:
          type: string
        businessKey:
          type: string
        processDefinitionId:
          type: string
        processDefinitionKey:
          type: string
        processDefinitionName:
          type: string
        processDefinitionVersion:
          type: integer
          format: int32
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        removalTime:
          type: string
          format: date-time
        durationInMillis:
          type: integer
          format: int64
        startUserId:
          type: string
        startActivityId:
          type: string
        deleteReason:
          type: string
        rootProcessInstanceId:
          type: string
        superProcessInstanceId:
          type: string
        superCaseInstanceId:
          type: string
        caseInstanceId:
          type: string
        tenantId:
          type: string
        state:
          type: string
        restartedProcessInstanceId:
          type: string
    HistoricActivityInstanceDto:
      type: object
      description: "Represents a single activity instance within a process, including metadata such as start/end times, assignee, duration, tenant and linking IDs."
      properties:
        id:
          type: string
        parentActivityInstanceId:
          type: string
        activityId:
          type: string
        activityName:
          type: string
        activityType:
          type: string
        processDefinitionKey:
          type: string
        processDefinitionId:
          type: string
        processInstanceId:
          type: string
        executionId:
          type: string
        taskId:
          type: string
        calledProcessInstanceId:
          type: string
        calledCaseInstanceId:
          type: string
        assignee:
          type: string
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        durationInMillis:
          type: integer
          format: int64
        canceled:
          type: boolean
        completeScope:
          type: boolean
        tenantId:
          type: string
        removalTime:
          type: string
          format: date-time
        rootProcessInstanceId:
          type: string
    ProcessInstanceDetailsDto:
      type: object
      description: Aggregates detailed information for a process instance including activity instances and process variables.
      properties:
        historicActivityInstances:
          type: array
          items:
            $ref: "#/components/schemas/HistoricActivityInstanceDto"
        processVariables:
          type: array
          items:
            $ref: "#/components/schemas/ProcessVariableDto"
    ProcessVariableDto:
      type: object
      description: "Represents a process variable including type, value, metadata, lifecycle timestamps and linkage to process/case/task contexts."
      properties:
        type:
          type: string
        value: {}
        valueInfo:
          $ref: "#/components/schemas/ProcessVariableDto.ValueInfo"
        id:
          type: string
        name:
          type: string
        processDefinitionKey:
          type: string
        processDefinitionId:
          type: string
        processInstanceId:
          type: string
        executionId:
          type: string
        activityInstanceId:
          type: string
        caseDefinitionKey:
          type: string
        caseDefinitionId:
          type: string
        caseInstanceId:
          type: string
        caseExecutionId:
          type: string
        taskId:
          type: string
        errorMessage:
          type: string
        tenantId:
          type: string
        state:
          type: string
        createTime:
          type: string
          format: date-time
        removalTime:
          type: string
          format: date-time
        rootProcessInstanceId:
          type: string
    ProcessVariableDto.ValueInfo:
      type: object
      description: Metadata about a process variable's serialized form such as object type name and serialization format.
      properties:
        objectTypeName:
          type: string
        serializationDataFormat:
          type: string
    InputDto:
      type: object
      description: "Definition of a user input field including its label, description, input type, and available options."
      properties:
        label:
          type: string
        description:
          type: string
        type:
          type: string
        options:
          type: array
          items:
            type: string
    AssigneeListDto:
      type: object
      description: Represents a mapping of a task name to an assignee list key used for assignment lookups.
      properties:
        taskName:
          type: string
        assigneeListKey:
          type: string
    Error:
      type: object
      properties:
        code:
          type: string
          description: WSO2 error code
        message:
          type: string
          description: Error message
        description:
          type: string
          description: Detailed error description
      required:
       - code
       - description
       - message
  responses:
    Unauthorized:
      description: Unauthorized - Authentication credentials are missing or invalid
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            invalidCredentials:
              $ref: "#/components/examples/InvalidCredentials"
    Forbidden:
      description: Forbidden - The client does not have access rights to the content
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            insufficientScope:
              $ref: "#/components/examples/InsufficientScope"
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServiceUnavailable:
      description: Service Unavailable - The server is unable to handle the request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            apiBlocked:
              $ref: "#/components/examples/ApiBlocked"
    TooManyRequests:
      description: Too Many Requests - Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  examples:
    InvalidCredentials:
      summary: Invalid Credentials
      value:
        code: "900901"
        message: Invalid Credentials
        description: Invalid Credentials. Make sure you have provided the correct security credentials
    InsufficientScope:
      summary: Scope validation failed
      value:
        code: "900910"
        message: The access token does not allow you to access the requested resource
        description: "Access failure for API: /api/1.0.0, version: 1.0.0 status: (900910) - The access token does not allow you to access the requested resource"
    ApiBlocked:
      summary: API blocked
      value:
        code: "700700"
        message: API blocked
        description: This API has been blocked temporarily. Please try again later or contact the system administrators.
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://test.com
          scopes:
            camunda:access: access scope for camunda APIs
          x-scopes-bindings:
            camunda:access: camunda-user
x-wso2-api-key-header: ApiKey
x-wso2-auth-header: Authorization
x-wso2-cors:
  corsConfigurationEnabled: false
  accessControlAllowOrigins:
   - '*'
  accessControlAllowCredentials: false
  accessControlAllowHeaders:
   - authorization
   - Access-Control-Allow-Origin
   - Content-Type
   - SOAPAction
   - apikey
   - Internal-Key
  accessControlAllowMethods:
   - GET
   - PUT
   - POST
   - DELETE
   - PATCH
   - OPTIONS
x-wso2-production-endpoints:
  urls:
   - https://devcamunda-upsource.apps.qeema.io
  type: http
x-wso2-sandbox-endpoints:
  urls:
   - https://devcamunda-upsource.apps.qeema.io
  type: http
x-wso2-basePath: /camundaworkflowapi/1.0.0
x-wso2-transports:
 - http
 - https
x-wso2-application-security:
  security-types:
   - oauth2
  optional: false
x-wso2-response-cache:
  enabled: false
  cacheTimeoutInSeconds: 300
