<header name="correlationId" expression="get-property('correlation_id')" scope="transport"/>
<log level="custom">
    <property name="CorrelationID" expression="get-property('correlation_id')"/>
</log>